# Miscellaneous
*.class
*.log
*.pyc
*.swp
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
.node_modules/
/build/
/coverage/

# Node.js
node_modules/
**/node_modules/
npm-debug.log*

# Android
**/android/**/generated/
**/android/key.properties
/android/app/debug
/android/app/profile
/android/app/release

# iOS
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Pods/
*.bak

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Security & Keys
*.jks
*.keystore
*.key
.env
google-services.json
GoogleService-Info.plist

# OS trash
.DS_Store
Thumbs.db